* {
    list-style: none;
    background-color: #e5f5ff;
}

body {
    padding: 5vh;
    min-height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    /*height: 10vh;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

nav > .church_name {
    font-size: 10vw;
    font-weight: bolder;
    text-transform: uppercase;
}

section > button {
    font-size: 5vh;
    border-bottom: 5px solid;
    border-radius: 20px;
    min-width: 20vw;
    padding: 12px;
    border-bottom-color: #930a36;
}

p {
    font-size: 5vw;
}